<settings>
    <servers>
        <server>
            <id>ossrh</id>
            <!-- declared in .travis.yml, only available in branches/PR from the repository -->
            <username>${env.OSSRH_USERNAME}</username>
            <password>${env.OSSRH_PASSWORD}</password>
        </server>
    </servers>
</settings>
